<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <!--<add name="SocialNetwork" connectionString="Server=(local);Database=SocialNetwork;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>-->
    <add name="SocialNetwork" connectionString="server=(LocalDb)\mssqllocaldb;AttachDbFilename=|DataDirectory|\SocialNetwork.mdf;database=SocialNetwork;trusted_connection=yes;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>